{% extends 'blog/base.html' %}
{% block descriptions %}
    <p>Left you comment!)</p>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3>New comment: </h3>

      <form name="sentMessage" id="contactForm">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Name: </label>
            <input type="text" class="form-control" placeholder="Name" id="name" value="{{ form.name }}" required data-validation-required-message="Please enter your name.">
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Message: </label>
            <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message.">{{ form.message }}</textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" id="sendMessageButton">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>

{% endblock %}
