{% extends 'blog/base.html' %} {% block content %}
<div class="post">
    {% if post.published_date %}
    <div class="date">
        <p>Опубликовано: {{ post.published_date }}</p>
    </div>
    {% endif %}
    <h1>{{ post.title }}</h1> {% if post.image %}
    <img src="{{ MEDIA_URL }}{{ post.image.url }}"> {% endif %}
    <p>{{ post.text }}</p>
</div>
<hr><br>
<a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
        <hr><br>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
{% endblock %}
