{% extends 'blog/base.html' %}{% load staticfiles %}

{% block title %}
    {{ post.title }}
{% endblock %}
{% if post.descriptions %}
{% block descriptions %}
    {{ post.descriptions|default_if_none:'Welcome!' }}
{% endblock %}
 {% endif %}

{% block content %}
<div class="post">

    <h1>{{ post.title }}</h1>
    {% if post.image %}
    <img src="{{ post.image.url }}">
    {% endif %}
    <p>{{ post.text }}</p>
</div>
<p>
    {% if post.published_date %}
    <div class="date">
        <p>  Опубликовано: {{ post.published_date }}</p>
    </div>
    {% endif %}
    {% load disqus_tags %}
    {% set_disqus_identifier "blogentry_" object.title %}
    {% set_disqus_title page.title %}
    {% disqus_show_comments %}
    {% disqus_dev %}
</p>
{% endblock %}
